.led-preview {
    max-width: 1150px;
    max-height: 700px;
    overflow: hidden;
    display: inline-block;
    transform: scale(0.5);
    /*do not change this*/
    transform-origin: top center;
    /*do not change this*/
    border: 3px solid white;
    text-align: center;
}

.main-container {
    max-width: 100%;
    max-height: 400px;
}

.led-preview iframe {
    width: 1150px;
    height: 700px;
    align-items: center;
    border: none;
}